[Desktop Entry]
Type=Application
Name=Tenkan dependency manager
GenericName=Dependency manager
Comment=Manage NPM and NuGet dependencies
Icon=package-variant
Exec=tenkan
Terminal=false
Categories=Development;